/* Reset */

html, body, div, span, applet, object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

/* Fonts */

@font-face {
    font-family: VagRegular;
    src: url('../fonts/VAGRoundedRegular.ttf');
}

@font-face {
    font-family: VagBold;
    src: url('../fonts/VAGRoundedBold.ttf');
}

/* General styles */ 

h1 {
    font-size: 50px;
    text-align: center;
    font-family: VagBold, sans-serif;
}

h3 {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    -webkit-font-smoothing: antialiased;
}

/* navigation */

body {
    font-family: 'Montserrat', sans-serif;
}

.nav {
    background-color: #368289;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100px;
    border-bottom-left-radius: 100% 55%;
    border-bottom-right-radius: 100% 25%;
    padding: 10px;
}

.nav .home-button {
    width: 50px;
    margin: 10px 30px;
}


.nav .nav-left {
    width: 20%;
}

.nav .nav-right {
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    float: right;
    width: 80%;
}

.nav .nav-right a {
    margin: 0 16px;
}


/* footer */
footer {
    background-color: #368289;
    padding: 10px 10px 30px 10px;
    text-align: center;
    color: white;
    width: 100%;
}

footer p {
    color: white;
}


.footer-border-right:before {
    content: "";
    display: block;
    position: absolute;
    right: -15px;
    top: 10px;
    color: white;
    z-index: 100;
    border: 1px solid white;
    height: 70px;
}

.footer-border-left:before {
    content: "";
    display: block;
    position: absolute;
    right: 15px;
    top: 10px;
    color: white;
    z-index: 100;
    border: 1px solid white;
    height: 70px;
}

/* home */ 

.home-block {
    width: 540px;
    margin-top: 70px;
    margin-bottom: 50px;
    text-align: center;
}

.home-block h1, .home-block-wrapper h1 {
    width: 100%;
    margin-bottom: 40px;
}

.home-block p {
    margin-bottom: 60px;
    line-height: 20px;
}

.home-block-wrapper {
    position: relative;
}

.home-block-core {
    padding-bottom: 100px;
}

.home-block-core p {
    text-align: center;
    color: white;
    font-weight: bold;
}

#curve {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    z-index: -100;
}

.img-wrapper-round {
    margin: 0 auto 20px;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.core-1 {
    background: url('/assets/img/nqobile-vundla-573154-unsplash.jpg');
    background-position: center center;
    background-size: cover;
}

.core-2 {
    background: url('/assets/img/vladislav-klapin-465070-unsplash.jpg');
    background-position: center center;
    background-size: cover;
}
.core-3 {
    background: url('/assets/img/clark-tibbs-367075-unsplash.jpg');
    background-position: center center;
    background-size: contain;
}
.core-4 {
    background: url('/assets/img/achievement-adult-book-1043514.jpg');
    background-position: center center;
    background-size: contain;
}
.core-5 {
    background: url('/assets/img/breakfast-cafe-caffeine-1477851.jpg');
    background-position: center center;
    background-size: cover;
}
.core-6 {
    background: url('/assets/img/nicole-harrington-716781-unsplash.jpg');
    background-position: center center;
    background-size: contain;
}
.core-7 {
    background: url('/assets/img/blur-care-cat-569170.jpg');
    background-position: center center;
    background-size: cover;
}