<div class="nav">
    <div class="nav-left">
        <a href="#">
            <div class="home-button">
                <img src="/huisstijlgids/assets/img/WitTP_crop.png" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="nav-right">
        <a href="/">Home</a>
        <a href="/logo">Logo</a>
        <a href="/typo">Typografie</a>
        <a href="/icons">Icons</a>
        <a href="/colors">Kleuren</a>
        <a href="/print">Print</a>
        <a href="/digital">Digitaal</a>
    </div>
</div>
