<div class="nav">
    <div class="nav-left">
        <a href="#">
            <div class="home-button">
                <img src="/huisstijlgids/assets/img/WitTP_crop.png" class="img-fluid">
            </div>
        </a>
    </div>
    <div class="nav-right">
        <a href="/huisstijlgids">Home</a>
        <a href="/huisstijlgids/logo">Logo</a>
        <a href="/huisstijlgids/typo">Typografie</a>
        <a href="/huisstijlgids/colors">Kleuren</a>
        <a href="/huisstijlgids/print">Print</a>
        <a href="/huisstijlgids/digital">Digitaal</a>
    </div>
</div> 

